<header>
    <div class="imgContainer">
        <img src="./img/logo.png" alt="">
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/realTimeProducts">Real Time Products</a></li>
    </ul>
</header>